.badge {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  --paddingX: 1.6rem;
  --paddingY: 0.8rem;
  --fontSize: 1.6rem;
  --radius: 0.8rem;

  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  padding-inline: var(--paddingX);
  padding-block: var(--paddingY);
  font-size: var(--fontSize, var(--font-base));
  border-radius: var(--radius);
  line-height: var(--lh-base);
  /* line-height: 1; */

  /* 폰트 렌더링 최적화 */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* -------------------------------------------------------------------------- */
  /*                                    색상정의                                  */
  /* -------------------------------------------------------------------------- */
  &.green {
    color: var(--white);
    background-color: var(--green500);
  }
  &.red {
    color: var(--white);
    background-color: var(--red500);
  }
  &.yellow {
    color: var(--white);
    background-color: var(--yellow500);
  }
  &.blue {
    color: var(--white);
    background-color: var(--blue500);
  }
}
