.btn {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box; /* 박스사이징 보더박스 처리 */
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  /* -------------------------------------------------------------------------- */
  /*                                    크기정의                                  */
  /* -------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------- */
  /*                                    크기정의                                  */
  /* -------------------------------------------------------------------------- */
  &.base {
    --px: 3rem;
    --py: 0.8rem;
    --fs: 1.6rem;
    --height: 4rem;

    height: var(--height);
    padding-inline: var(--px);
    padding-block: var(--py);
    font-size: var(--fs, var(--font-base));
    line-height: 1;
  }
  &.md {
    --px: 4rem;
    --py: 1.6rem;
    --fs: 1.6rem;
    --height: 5.6rem;

    height: var(--height);
    padding-inline: var(--px);
    padding-block: var(--py);
    font-size: var(--fs, var(--font-base));
    line-height: 1;
  }

  /* -------------------------------------------------------------------------- */
  /*                                    색상정의                                  */
  /* -------------------------------------------------------------------------- */
  &.primary {
    color: var(--white);
    background-color: var(--primary);
    /* border: 1px solid var(--primary); */

    &:hover,
    &.hover-state {
      background-color: var(--blue400);
      /* height: var(--height); */
    }
    &:focus,
    &.focus-state {
      border: 3px solid var(--gray400);
      outline: none;
      /* height: var(--height); */
    }
    &.loading {
      padding: 0.8rem 3rem;
      border: 1px solid var(--primary);
      background-color: var(--primary);
      background-image: url(../images/ico_loading_white.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
    &.md.loading {
      padding: 1.6rem 4rem;
    }
    &:disabled {
      opacity: 0.2;
      cursor: not-allowed;
      background-color: var(--primary);
      border: 1px solid var(--primary);
    }
  }

  &.secondary {
    color: var(--primary);
    background-color: var(--white);
    border: 1px solid var(--primary);

    &:hover,
    &.hover-state {
      border: 1px solid var(--primary);
      background-color: var(--gray100);
    }
    &:focus,
    &.focus-state {
      background-color: var(--gray400);
      outline: none;
    }
    &.loading {
      border: 1px solid var(--primary);
      background-color: var(--white);
      background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225%22%20height%3D%2224%22%20viewBox%3D%220%200%2025%2024%22%20fill%3D%22none%22%3E%20%20%20%3Cpath%20d%3D%22M12.7321%202C10.7542%202%208.82085%202.58649%207.17635%203.6853C5.53186%204.78412%204.25014%206.3459%203.49326%208.17317C2.73638%2010.0004%202.53835%2012.0111%202.9242%2013.9509C3.31005%2015.8907%204.26246%2017.6725%205.66099%2019.0711C7.05951%2020.4696%208.84134%2021.422%2010.7812%2021.8079C12.721%2022.1937%2014.7316%2021.9957%2016.5589%2021.2388C18.3861%2020.4819%2019.9479%2019.2002%2021.0468%2017.5557C22.1456%2015.9112%2022.7321%2013.9778%2022.7321%2012%22%20stroke%3D%22%23002EF1%22%20stroke-width%3D%222%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E');
      background-repeat: no-repeat;
      background-position: center;
    }
    &.md.loading {
      padding: 1.6rem 4rem;
    }
    &:disabled {
      opacity: 0.2;
      cursor: not-allowed;
      color: var(--primary);
      border: 1px solid var(--primary);
    }
  }

  &.subtle {
    color: var(--primary);
    background-color: var(--white);
    border: 1px solid var(--gray500);

    &:hover,
    &.hover-state {
      border: 1px solid var(--gray500);
      background-color: var(--gray100);
    }
    &:focus,
    &.focus-state {
      background-color: var(--gray400);
      outline: none;
    }
    &.loading {
      border: 1px solid var(--gray500);
      background-color: var(--white);
      background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225%22%20height%3D%2224%22%20viewBox%3D%220%200%2025%2024%22%20fill%3D%22none%22%3E%20%20%20%3Cpath%20d%3D%22M12.7321%202C10.7542%202%208.82085%202.58649%207.17635%203.6853C5.53186%204.78412%204.25014%206.3459%203.49326%208.17317C2.73638%2010.0004%202.53835%2012.0111%202.9242%2013.9509C3.31005%2015.8907%204.26246%2017.6725%205.66099%2019.0711C7.05951%2020.4696%208.84134%2021.422%2010.7812%2021.8079C12.721%2022.1937%2014.7316%2021.9957%2016.5589%2021.2388C18.3861%2020.4819%2019.9479%2019.2002%2021.0468%2017.5557C22.1456%2015.9112%2022.7321%2013.9778%2022.7321%2012%22%20stroke%3D%22%23002EF1%22%20stroke-width%3D%222%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E');
      background-repeat: no-repeat;
      background-position: center;
    }
    &.md.loading {
      padding: 1.6rem 4rem;
    }
    &:disabled {
      opacity: 0.2;
      cursor: not-allowed;
      color: var(--primary);
      border: 1px solid var(--gray500);
    }
  }

  &.text {
    color: var(--primary);
    background-color: transparent;
    border: none;

    &:hover,
    &.hover-state {
      background-color: var(--gray100);
    }
    &:focus,
    &.focus-state {
      background-color: var(--gray200);
      outline: none;
    }
    &.loading {
      background-color: var(--gray100);
      /* background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225%22%20height%3D%2224%22%20viewBox%3D%220%200%2025%2024%22%20fill%3D%22none%22%3E%20%20%20%3Cpath%20d%3D%22M12.7321%202C10.7542%202%208.82085%202.58649%207.17635%203.6853C5.53186%204.78412%204.25014%206.3459%203.49326%208.17317C2.73638%2010.0004%202.53835%2012.0111%202.9242%2013.9509C3.31005%2015.8907%204.26246%2017.6725%205.66099%2019.0711C7.05951%2020.4696%208.84134%2021.422%2010.7812%2021.8079C12.721%2022.1937%2014.7316%2021.9957%2016.5589%2021.2388C18.3861%2020.4819%2019.9479%2019.2002%2021.0468%2017.5557C22.1456%2015.9112%2022.7321%2013.9778%2022.7321%2012%22%20stroke%3D%22%23002EF1%22%20stroke-width%3D%222%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E');
      background-repeat: no-repeat;
      background-position: center; */
    }
    &.md.loading {
      padding: 1.6rem 4rem;
    }
    &:disabled {
      opacity: 0.2;
      cursor: not-allowed;
      color: var(--primary);
    }
  }
  /* &:disabled {
    opacity: 0.2;
    cursor: none;
  } */

  /* -------------------------------------------------------------------------- */
  /*                                    아이콘정의                                */
  /* -------------------------------------------------------------------------- */
  &[class*='ico'] {
    /* height: 3.7rem; */

    &::before {
      content: '';
      width: var(--width);
      aspect-ratio: 1;
      background: var(--bg) no-repeat center / contain;
    }
  }
  &.ico1 {
    --width: 2.4rem;
    --bg: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225%22%20height%3D%2224%22%20viewBox%3D%220%200%2025%2024%22%20fill%3D%22none%22%3E%20%20%20%3Cpath%20d%3D%22M3.50421%203.77216C1.14134%206.13503%201.14134%209.96602%203.50421%2012.3289L12.6691%2021.4937L12.732%2021.4307L12.7951%2021.4938L21.96%2012.329C24.3228%209.96609%2024.3228%206.13511%2021.96%203.77223C19.5971%201.40936%2015.7661%201.40936%2013.4032%203.77224L13.0857%204.08978C12.8904%204.28505%2012.5738%204.28505%2012.3786%204.08978L12.0609%203.77216C9.69807%201.40928%205.86709%201.40928%203.50421%203.77216Z%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%2F%3E%20%3C%2Fsvg%3E');
  }
  &.ico2 {
    --width: 2.4rem;
    --bg: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225%22%20height%3D%2224%22%20viewBox%3D%220%200%2025%2024%22%20fill%3D%22none%22%3E%20%20%20%3Cpath%20d%3D%22M3.50421%203.77216C1.14134%206.13503%201.14134%209.96602%203.50421%2012.3289L12.6691%2021.4937L12.732%2021.4307L12.7951%2021.4938L21.96%2012.329C24.3228%209.96609%2024.3228%206.13511%2021.96%203.77223C19.5971%201.40936%2015.7661%201.40936%2013.4032%203.77224L13.0857%204.08978C12.8904%204.28505%2012.5738%204.28505%2012.3786%204.08978L12.0609%203.77216C9.69807%201.40928%205.86709%201.40928%203.50421%203.77216Z%22%20stroke%3D%22url(%23paint0_linear_112_756)%22%20stroke-width%3D%222%22%2F%3E%20%20%20%3Cdefs%3E%20%20%20%20%20%3ClinearGradient%20id%3D%22paint0_linear_112_756%22%20x1%3D%221.73206%22%20y1%3D%222%22%20x2%3D%2227.0659%22%20y2%3D%2214.9942%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%20%20%20%20%20%20%20%3Cstop%20stop-color%3D%22%230038F5%22%2F%3E%20%20%20%20%20%20%20%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23002EF1%22%2F%3E%20%20%20%20%20%3C%2FlinearGradient%3E%20%20%20%3C%2Fdefs%3E%20%3C%2Fsvg%3E');
  }
  &.ico3 {
    --width: 2.4rem;
    --bg: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225%22%20height%3D%2224%22%20viewBox%3D%220%200%2025%2024%22%20fill%3D%22none%22%3E%20%20%20%3Cpath%20d%3D%22M12.7321%202C10.7542%202%208.82085%202.58649%207.17635%203.6853C5.53186%204.78412%204.25014%206.3459%203.49326%208.17317C2.73638%2010.0004%202.53835%2012.0111%202.9242%2013.9509C3.31005%2015.8907%204.26246%2017.6725%205.66099%2019.0711C7.05951%2020.4696%208.84134%2021.422%2010.7812%2021.8079C12.721%2022.1937%2014.7316%2021.9957%2016.5589%2021.2388C18.3861%2020.4819%2019.9479%2019.2002%2021.0468%2017.5557C22.1456%2015.9112%2022.7321%2013.9778%2022.7321%2012%22%20stroke%3D%22%23002EF1%22%20stroke-width%3D%222%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E');
  }
}

/* -------------------------------------------------------------------------- */
/*                                    아이콘전용                                */
/* -------------------------------------------------------------------------- */
.icon-button {
  --width: 4rem;
  --rounded: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--width);
  aspect-ratio: 1;
  border-radius: var(--rounded, 0);
  background-color: transparent;
  cursor: pointer;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:has(img:not([alt])),
  &:has(img[alt='']) {
    &::after {
      content: '대체텍스트를 넣어주세요';
      position: absolute;
      left: 0;
      top: -1.5rem;
      white-space: nowrap;
      font-size: 1.2rem;
      color: red;
      background-color: var(--white);
    }
  }
}
