.text-field {
  --paddingX: 2.4rem;
  --width: 100%;
  --height: 5.6rem;
  --borderColor: var(--gray600);
  --rounded: 0.8rem;
  --fontSize: 1.6rem;
  --color: var(--gray600);
  --placeholderColor: var(--gray600);
  --disabled: 0.5;
  --disabledColor: var(--gray300); /*추가*/
  --focusBorderColor: var(--gray600); /*변경*/

  padding-inline: var(--paddingX);
  padding-block: var(--paddingY, 0);
  width: var(--width);
  height: var(--height);
  /* border: 1px solid var(--borderColor); */
  background-color: var(--gray300);
  border-radius: var(--rounded);
  box-sizing: border-box;
  color: var(--color);
  font-size: var(--fontSize);
  outline: none;

  &::placeholder {
    color: var(--placeholderColor);
  }
  &:focus {
    border: 2px solid var(--focusBorderColor);
  }
  &:disabled {
    border: none;
    color: var(--disabledColor);
    opacity: var(--disabled, 0.2);
  }
  &.error {
    border: 1px solid var(--danger);
    color: var(--danger);
    background-color: white;
  }
}
textarea {
  &.text-field {
    --width: 100%;
    --height: 10rem;
    --paddingY: 1rem;
  }
}
